 <!DOCTYPE html>
 <html lang="en"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="#{admin_page}"></title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- include sidebar -->
        <div th:replace="~{common/common :: sidebar}"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- include Topbar -->
                <th:block th:replace="~{common/common :: topbar}"></th:block>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800" th:text="#{productos}"></h1>
                    <p class="mb-4" th:text="#{p_tabla_usuarios}"></p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" th:text="#{lista_productos}"></h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="usersDataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="w-40px" th:text="#{id}">Id</th>
                                            <th th:text="#{producto}"></th>
                                            <th th:text="#{precio}"></th>
                                            <th th:text="#{marca}"></th>
                                            <th th:text="#{rubro}"></th>
                                            <th th:text="#{subrubro}"></th>
                                            <th th:text="#{ctd_disp}"></th>
                                            <th th:text="#{color}"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="enabledSocio: ${enabledSocios}">
                                            <td class="w-10px">
                                                <div class="dropdown mb-4">
                                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <i class="fas fa-fw fa-cog"></i>
                                                    </button>
                                                    <div class="dropdown-menu animated--fade-in"
                                                         aria-labelledby="dropdownMenuButton">
                                                        <!-- edit user button -->
                                                        <a class="dropdown-item" th:text="#{editar}"
                                                           th:href="@{/adminPage/editUser(idUser=${enabledSocio.idUser})}"></a>
                                                        <!-- delete user button -->
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#confirmDeleteUser"
                                                           th:attr="data-target='#confirmDeleteUser'+${enabledSocio.idUser}"
                                                           th:text="#{eliminar}"></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td th:text="${enabledSocio.idUser}"></td>
                                            <td th:text="${enabledSocio.nombre}"></td>
                                            <td th:text="${enabledSocio.apellido}"></td>
                                            <td th:text="${enabledSocio.dni}"></td>
                                            <td th:text="${enabledSocio.email}"></td>
                                            <!-- Modal: on delete user-->
                                            <div class="modal fade" th:id="confirmDeleteUser+${enabledSocio.idUser}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteUserLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="confirmDeleteUserLabel" th:text="#{eliminar_usuario}"></h5>
                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h3 th:text="#{seguro_quieres_eliminar_a}"></h3>
                                                            <h3 th:text="' '+ ${enabledSocio.nombre} + ${enabledSocio.apellido} + '?'"></h3>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal" th:text="#{cancelar}"></button>
                                                            <a class="btn btn-primary" th:text="#{eliminar}"
                                                               th:href="@{/adminPage/deleteUser(idUser=${enabledSocio.idUser})}"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="~{common/common :: footer}"></footer>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <div th:replace="~{common/common :: scroll-top-button}"></div>

    <!-- Logout Modal-->
    <div th:replace="~{common/common :: logout-modal}"></div>

    <!-- scripts-->
    <div th:replace="~{common/common :: scripts}"></div>

</body>

</html>